@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Mono", "Space Grotesk", monospace;
  color: #e6f1ff;
  background-color: #050505;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
